#login-bg {
    height: 100vh;
    background: linear-gradient(65deg, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    padding: 0%;
    justify-content: center;
}

#login-bg *,
#login-bg *::before,
#login-bg *::after {
    box-sizing: border-box;
}

#login {
    width: 80vw;
    height: 90vh;
    background: linear-gradient(21deg, var(--secondary) 0%, var(--background) 19%, var(--background) 55%, var(--primary) 100%);
    box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    overflow: hidden;
    opacity: 0;
    animation: showup 0.5s ease-in-out 0.5s forwards;
}

#login form {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: var(--text);
    padding: 5vw;
    padding-top: 0%;
    font-family: 'Semilight', sans-serif;
    font-size: smaller;
    opacity: 0;
    animation: showup 0.5s ease-in-out 0.5s forwards;
}

#login img {
    flex: 0 0 60%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#login #login-logo {
    all: unset;
    width: 240px;
    filter: drop-shadow(6px 10px 5px rgba(0, 0, 0, 0.4));
    opacity: 0;
    animation: showup 1s ease-in-out 0.5s forwards;
}

@media (max-width: 768px) {
    #login {
        flex-direction: column;
    }

    #login img {
        display: none;
    }

    #login form {
        width: 100%;
        flex: 1;
        padding: 8vw;
        padding-top: 0%;
    }
}

#login form h2 {
    margin-top: 0%;
    font-family: 'Letterpress';
}

#login form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh
}

#login form label {
    font-size: medium;
    font-family: 'Semilight';
}

#login form input {
    all: unset;
    padding: 6px 12px;
    border-radius: 10px;
    border: 2px solid var(--dark);
    text-align: left;
    font-family: 'light';
    font-size: small;
}

#login form p {
    line-height: 1.8;
    font-family: 'Ultralight';
    font-size: medium;
}

#login form button {
    all: unset;
    background-color: var(--dark);
    border-radius: 32px;
    border: 2px solid var(--gold);
    width: fit-content;
    color: var(--background);
    padding: 12px 24px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#login form button:hover {
    background-color: var(--primary);
    transform: translateY(-2px);
}

.error {
    background-color: oklch(70.4% 0.191 22.216);
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    color: white;
}