.formDropdown {
    all: unset;
    display: flex;
    align-items: center;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border-radius: 5px;
    border: 2px solid var(--dark);
    margin-top: 0.5rem;
}

.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 30vw;
    padding: 1rem;
    font-family: 'semilight';
    padding: 2vh
}

.form div {
    margin-bottom: 1rem;
    width: fit-content + 2rem;
}

.form input{
    all: unset;
    box-sizing: border-box;
    width: fit-content;
    border-radius: 5px;
    border: 1px solid var(--dark);
    font-family: 'ultralight';
    font-size: smaller;
}

.form button {
    all: unset;
    background-color: var(--primary);
    border-radius: 5px;
    color: white;
    font-family: 'semilight';
    padding: 0.5rem;
    width: calc(100% - 1.2rem);
    text-align: center;
}

.previewImgs img {
    width: 72px;
    height: 72px;
    object-fit: cover;
}