footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background);
    color: var(--text);
    margin-top: auto;
}

footer h2 {
    text-align: left;
    font-family: 'Semilight';
}

footer a {
    text-decoration: none;
    color: var(--bright);
    display: flex;
    align-items: center;
    gap: 16px;
}

footer span {
    display: flex;
    align-items: center;
    gap: 16px;
}