:root {
    --primary: #00ACA6;
    --secondary: #8A3677;
    --background: #383838;
    --bright: #D9D9D9;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;

}

#app {
    height: fit-content;
    display: flex;
    flex-direction: column;
    overflow: auto;
}




#events {
    height: fit-content;
    background-color: #D9D9D9;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#events h1 {
    color: #8A3677;
}

.event {
    height: 40vh;
    display: flex;
    justify-content: center;
    gap: 7%;
}

.event div {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#date {
    text-align: end;
}

.event img {
    position: relative;
    width: fit-content;
    max-height: 80vh;
    max-width: 35vw;
    object-fit: none;
    background-color: #383838;

}

.section h2 {
    color: #D9D9D9;
}

footer {
    background-color: var(--background);
    flex: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}