:root {
    --primary: #00ACA6;
    --secondary: #8A3677;
    --background: #383838;
    --bright: #D9D9D9;
    --text: white;
}

html {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    scrollbar-width: 2%;
}

body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: 'Thin';
    font-size: small;
}

#events {
    height: fit-content;
    background-color: var(--bright);
    text-align: center;
    display: flex;
    flex-direction: column;
}

#events h1 {
    color: var(--secondary);
}

.event {
    height: 40vh;
    display: flex;
    justify-content: center;
    gap: 7%;
}

.event div {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#date {
    text-align: end;
}

.event img {
    position: relative;
    width: fit-content;
    max-height: 80vh;
    max-width: 35vw;
    object-fit: none;
    background-color: var(--background);

}

.section h2 {
    color: var(--bright);
}


@font-face {
    font-family: 'Light';
    src: url('/fonts/Cocogoose-Pro-Light-trial.ttf');
}

@font-face {
    font-family: 'Light-italic';
    src: url('/fonts/Cocogoose-Pro-Light-Italic-trial.ttf');
}

@font-face {
    font-family: 'Semilight';
    src: url('/fonts/Cocogoose-Pro-Semilight-trial.ttf');
}

@font-face {
    font-family: 'Semilight-italic';
    src: url('/fonts/Cocogoose-Pro-Semilight-Italic-trial.ttf');
}

@font-face {
    font-family: 'Thin';
    src: url('/fonts/Cocogoose-Pro-Thin-trial.ttf');
}

@font-face {
    font-family: 'Thin-italic';
    src: url('/fonts/Cocogoose-Pro-Thin-Italic-trial.ttf');
}

@font-face {
    font-family: 'Ultralight';
    src: url('/fonts/Cocogoose-Pro-Ultralight-trial.ttf');
}

@font-face {
    font-family: 'Ultralight-italic';
    src: url('/fonts/Cocogoose-Pro-Ultralight-Italic-trial.ttf');
}

@font-face {
    font-family: 'Regular';
    src: url('/fonts/Cocogoose-Pro-Regular-trial.ttf');
}

@font-face {
    font-family: 'Letterpress';
    src: url('/fonts/Cocogoose-Pro-Letterpress-Regular-trial.ttf');
}

@font-face {
    font-family: 'Bold';
    src: url('/fonts/Cocogoose-Pro-Bold-trial.ttf');
}

@font-face {
    font-family: 'Dark';
    src: url('/fonts/Cocogoose-Pro-Darkmode-trial.ttf');
}


@font-face {
    font-family: 'Italic';
    src: url('/fonts/Cocogoose-Pro-Italic-trial.ttf');
}

@font-face {
    font-family: 'Bold-italic';
    src: url('/fonts/Cocogoose-Pro-Bold-Italic-trial.ttf');
}

@font-face {
    font-family: 'Dark-italic';
    src: url('/fonts/Cocogoose-Pro-Darkmode-Italic-trial.ttf');
}